<div>
  <h2>Solution 1</h2>
  <app-solution1></app-solution1>
  <br />
  <span><strong>Explaination: </strong></span>
  <span>
    The above solution is a list obtained by recursively getting child from tree
    object and adding indentation in string writing logic in Typescript.
  </span>
</div>
<div>
  <h2>Solution 2</h2>
  <app-solution2></app-solution2>
  <br />
  <span><strong>Explaination: </strong></span>
  <span>
    This solution is more angular recursive solution were I'm calling component
    recursively to make tree structure.
  </span>
</div>
